@import 'src/scss/constant.scss';

@function adaptive-size($max-size, $min-size) {
  $add-size: $max-size - $min-size;
  $max-free-width: $desktop-width-count - $mobile-width-count;
  @return calc(
    #{$min-size + px} + #{$add-size} * ((100vw - 750px) / #{$max-free-width})
  );
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}